<% if(locals.user) { %>
    <section id="user-chat-box">
        <ul id="user-chat-list">
            <li class="other-message">
                <span>other-message</span>
            </li>
            <li class="self-message">
                <span>self-message</span>
            </li>
        </ul>
        <div id="chat-box-input-box">
            <input type="text" name="" id="chat-message-input" placeholder="enter massage..">
            <input type="submit" id="send-message" value="submit">
        </div>
    </section>

<%}%>