<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foeget password</title>
    <link rel="stylesheet" href="/CSS/Style.css">
</head>
<body>
    <form action="/user/updatepassword" method="post">
        <input type="email" name="email" placeholder="enter your email">
        <input type="submit" value="Submit">
    </form>
</body>
</html>