<header>
    <div>Home</div>
    <div>Well Come <%=user.name%></div>
    <div id="content">
        <p><a href="/user/resetpassword">Reset Password</a></p>
        <p><a href="/user/signout">Sign Out</a></p>
        <p id="profile">Profile
            
        </p>
    </div>
</header>
<div id="dropdown">
    <h4 id="X-mark">X</h4>
    <h5>name: <%=user.name%></h5>
    <h5>email: <%=user.email%></h5>
</div>